.out-1{
	background-color: aqua;
}

.out-2{
	background-color: aqua;
}


.out-3{
	background-color:red;
}

div{
	margin: 0px;
	padding: 0px;
}

.out-6{
	background-color:antiquewhite;
}

.out-7{
	background-color:rgb(244, 250, 215);
}